[Desktop Entry]
Type=Application
Categories=Development;IDE;
Exec={{ app_dir }}/{{ app_name }}/current/bin/idea.sh
GenericName=Capable and Ergonomic Java IDE
Icon={{ app_dir }}/{{ app_name }}/current/bin/idea.png
Keywords=development;idea;ide;intellij;java;
Name=IntelliJ IDEA Community
StartupNotify=true
StartupWMClass=jetbrains-idea-ce
Terminal=false
